<main class="container-fluid">
    <div class="row">
        <div class="col-md-6 my-2 animate__animated animate__fadeInLeft animate__slow">
            <div class="position-relative">
                <div class="imgContainer">
                    <img src="assets/img-1.jpg" style="height: 305px; width: 100%;" alt="">
                </div>
                <div class="position-absolute bg-primary top-0 bottom-0 end-0 start-0 d-flex flex-column justify-content-around">
                    <div class="p-4 ">
                        <p class="text-white hvr-fade animate__animated animate__fadeInDown animate__slow">Work 1</p>
                        <p class="text-white animate__animated animate__fadeInUp animate__slow">web design</p>
                    </div>
                    <div class="p-4">
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-share-nodes"></i></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-eye"></i> <small>100</small></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-heart"></i> <small>49</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-2 animate__animated animate__fadeInRight animate__slow">
            <div class="position-relative">
                <div class="imgContainer">
                    <img src="assets/img-2.jpg" style="height: 305px; width: 100%;" alt="">
                </div>
                <div class="position-absolute bg-primary top-0 bottom-0 end-0 start-0 d-flex flex-column justify-content-around">
                    <div class="p-4 ">
                        <p class="text-white hvr-fade animate__animated animate__fadeInDown animate__slow">Work 1</p>
                        <p class="text-white animate__animated animate__fadeInUp animate__slow">web design</p>
                    </div>
                    <div class="p-4">
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-share-nodes"></i></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-eye"></i> <small>100</small></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-heart"></i> <small>49</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-2 animate__animated animate__fadeInLeft animate__slower">
            <div class="position-relative">
                <div class="imgContainer">
                    <img src="assets/img-3.jpg" style="height: 305px; width: 100%;" alt="">
                </div>
                <div class="position-absolute bg-primary top-0 bottom-0 end-0 start-0 d-flex flex-column justify-content-around">
                    <div class="p-4 ">
                        <p class="text-white hvr-fade animate__animated animate__fadeInDown animate__slow">Work 1</p>
                        <p class="text-white animate__animated animate__fadeInUp animate__slow">web design</p>
                    </div>
                    <div class="p-4">
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-share-nodes"></i></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-eye"></i> <small>100</small></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-heart"></i> <small>49</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-2 animate__animated animate__fadeInRight animate__slower">
            <div class="position-relative">
                <div class="imgContainer">
                    <img src="assets/img-4.jpg" style="height: 305px; width: 100%;" alt="">
                </div>
                <div class="position-absolute bg-primary top-0 bottom-0 end-0 start-0 d-flex flex-column justify-content-around">
                    <div class="p-4 ">
                        <p class="text-white hvr-fade animate__animated animate__fadeInDown animate__slow">Work 1</p>
                        <p class="text-white animate__animated animate__fadeInUp animate__slow">web design</p>
                    </div>
                    <div class="p-4">
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-share-nodes"></i></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-eye"></i> <small>100</small></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-heart"></i> <small>49</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-2 animate__animated animate__fadeInLeft animate__slow">
            <div class="position-relative">
                <div class="imgContainer">
                    <img src="assets/img-5.jpg" style="height: 305px; width: 100%;" alt="">
                </div>
                <div class="position-absolute bg-primary top-0 bottom-0 end-0 start-0 d-flex flex-column justify-content-around">
                    <div class="p-4 ">
                        <p class="text-white hvr-fade animate__animated animate__fadeInDown animate__slow">Work 1</p>
                        <p class="text-white animate__animated animate__fadeInUp animate__slow">web design</p>
                    </div>
                    <div class="p-4">
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-share-nodes"></i></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-eye"></i> <small>100</small></span>
                        <span class="m-1 p-1 bg-info rounded-2"><i class="p-1 fa-solid fa-heart"></i> <small>49</small></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-2 animate__animated animate__fadeInRight animate__slow">
            <div class="position-relative">
                <div class="imgContainer">
                    <img src="assets/img-6.jpg" style="height: 305px; width: 100%;" alt="">
                </div>
                <div class="position-absolute bg-primary top-0 bottom-0 end-0 start-0">
                    <div class="p-4 ">
                        <p class="text-white hvr-fade animate__animated animate__fadeInDown animate__slow">Work 1</p>
                        <p class="text-white animate__animated animate__fadeInUp animate__slow">web design</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-3">
            <button role="button" class="btn btn-primary w-100 p-3">Load More <i class="ms-1 fa-solid fa-rotate-right"></i></button>
        </div>
    </div>

</main>