<main class="container-fluid vh-100 overflow-y-auto">
    <div class="row my-4 px-4">
        <div class="sectionHeading py-4 w-50">
            <h6 class="text-muted animate__animated animate__fadeInDown animate__slow">ABOUT US</h6>
            <p class="playfair-display fw-bold fs-6 lh-lg animate__animated animate__fadeInUp animate__slow">WHO AM I?</p>
        </div>
    </div>

    <div class="aboutContent px-4 py-3">
        <p class="text-muted">
            <strong class="text-black">Hi I'm Jackson Ford</strong> On her way she met a copy. The copy warned the
            Little Blind Text, that
            where it came
            from it would have been rewritten a thousand times and everything that was left from its origin would be the
            word "and" and the Little Blind Text should turn around and return to its own, safe country.
        </p>
        <p class="text-muted">
            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
            day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of
            Grammar.
        </p>
    </div>

    <div class="aboutCards row justify-content-between px-4 py-3">
        <div
            class="col-md-3 p-0 d-flex flex-column justify-content-between shadow-lg border-bottom border-2 border-primary animate__animated animate__fadeIn animate__slower">
            <div class="iconCard p-3">
                <i class="fa-regular fa-lightbulb fa-2x text-primary"></i>
            </div>
            <div class="p-3">
                <p class="fs-6">Graphic Design</p>
            </div>
        </div>
        <div
            class="col-md-3 p-0 mx-1 d-flex flex-column justify-content-between shadow-lg border-bottom border-2 border-danger animate__animated animate__fadeInRight animate__slow">
            <div class="iconCard p-3">
                <i class="fa-solid fa-globe fa-2x text-danger"></i>
            </div>
            <div class="p-3">
                <p class="fs-6">Web Design</p>
            </div>
        </div>
        <div
            class="col-md-3 p-0 d-flex flex-column justify-content-between shadow-lg border-bottom border-2 border-warning animate__animated animate__fadeInUp animate__slow">
            <div class="iconCard p-3">
                <i class="fa-solid fa-database fa-2x text-warning"></i>
            </div>
            <div class="p-3">
                <p class="fs-6">Software</p>
            </div>
        </div>
        <div
            class="col-md-3 p-0 mx-1 d-flex flex-column justify-content-between shadow-lg border-bottom border-2 border-secondary animate__animated animate__fadeInUp animate__slower ">
            <div class="iconCard p-3">
                <i class="fa-solid fa-mobile-screen fa-2x"></i>
            </div>
            <div class="p-3">
                <p class="fs-6">Application</p>
            </div>
        </div>
    </div>

    <div class="aboutFooter p-3 my-4 animate__animated animate__fadeInLeft animate__slow">
        <p class="playfair-display w-75 fs-3">I am happy to know you that 300+ projects done sucessfully!</p>
        <button class="btn btn-outline-dark my-2 py-2 px-3">
            HIRE ME <i class="fa-solid fa-download ms-1"></i>
        </button>
    </div>
</main>