

.aboutContent,
.aboutCards {
    font-size: 14px;
}

.aboutCards .col-md-3 {
    width: 180px;
    height: 160px;
}

.aboutFooter {
    background-color: #f9bf3f;

    button {
        letter-spacing: 1px;
    }
}