<main class="container-fluid vh-100 overflow-y-auto">
    <div class="row my-4 px-4">
        <div class="sectionHeading py-4 w-50">
            <h6 class="text-muted animate__animated animate__fadeInDown animate__slow">
                EXPERIENCE
            </h6>
            <p class="playfair-display fw-bold fs-6 lh-lg animate__animated animate__fadeInUp animate__slow">
                WORK EXPERIENCE
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-center animate__animated animate__fadeInLeft animate__slow">
        <div class=" bg-body-tertiary mx-5 d-flex justify-content-center" style="height: inherit; width: 5px;">
            <div class=" bg-body-tertiary border border-3 rounded-circle" style="height: fit-content;">
                <i class="fa-solid fa-pencil bg-primary text-white rounded-circle p-2"></i>
            </div>
        </div>
        <div class="d-flex flex-column bg-body-tertiary position-relative p-4 mb-3">
            <div class="position-absolute p-3 bg-body-tertiary"
                style="left: -15px; transform: rotate(45deg); top: 7px; z-index: -1;"></div>
            <p class="fs-5 fw-semibold mx-2">Full Stack Developer <span class="text-muted fs-6">2017-2018</span></p>
            <p>
                Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial
                two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees
                but rooms think may.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center animate__animated animate__fadeInRight animate__slow">
        <div class=" bg-body-tertiary mx-5 d-flex justify-content-center" style="height: inherit; width: 5px;">
            <div class="bg-body-tertiary border border-3 rounded-circle" style="height: fit-content;">
                <i class="fa-solid fa-pencil bg-danger text-white rounded-circle p-2"></i>
            </div>
        </div>
        <div class="d-flex flex-column bg-body-tertiary position-relative p-4 mb-3">
            <div class="position-absolute p-3 bg-body-tertiary"
                style="left: -15px; transform: rotate(45deg); top: 7px; z-index: -1;"></div>
            <p class="fs-5 fw-semibold mx-2">Front End Developer at Google Company <span class="text-muted fs-6">2017-2018</span></p>
            <p>
                Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial
                two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees
                but rooms think may.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center animate__animated animate__fadeInLeft animate__slow">
        <div class=" bg-body-tertiary mx-5 d-flex justify-content-center" style="height: inherit; width: 5px;">
            <div class=" bg-body-tertiary border border-3 rounded-circle" style="height: fit-content;">
                <i class="fa-solid fa-pencil bg-warning text-white rounded-circle p-2"></i>
            </div>
        </div>
        <div class="d-flex flex-column bg-body-tertiary position-relative p-4 mb-3">
            <div class="position-absolute p-3 bg-body-tertiary"
                style="left: -15px; transform: rotate(45deg); top: 7px; z-index: -1;"></div>
            <p class="fs-5 fw-semibold mx-2">Full Stack Developer <span class="text-muted fs-6">2017-2018</span></p>
            <p>
                Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial
                two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees
                but rooms think may.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center animate__animated animate__fadeInRight animate__slow">
        <div class=" bg-body-tertiary mx-5 d-flex justify-content-center" style="height: inherit; width: 5px;">
            <div class=" bg-body-tertiary border border-3 rounded-circle" style="height: fit-content;">
                <i class="fa-solid fa-pencil bg-info text-white rounded-circle p-2"></i>
            </div>
        </div>
        <div class="d-flex flex-column bg-body-tertiary position-relative p-4 mb-3">
            <div class="position-absolute p-3 bg-body-tertiary"
                style="left: -15px; transform: rotate(45deg); top: 7px; z-index: -1;"></div>
            <p class="fs-5 fw-semibold mx-2">Full Stack Developer <span class="text-muted fs-6">2017-2018</span></p>
            <p>
                Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial
                two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees
                but rooms think may.
            </p>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-3 animate__animated animate__fadeInLeft animate__slow">
        <div class=" bg-body-tertiary mx-5 d-flex flex-column align-items-center justify-content-between" style="height: inherit; width: 5px;">
            <div class=" bg-body-tertiary border border-3 rounded-circle" style="height: fit-content;">
                <i class="fa-solid fa-pencil bg-success text-white rounded-circle p-2"></i>
            </div>
            <div class="bg-body-tertiary border border-3 rounded-circle" style="height: fit-content;">
                <i class="fa-solid fa-pencil bg-body-tertiary text-white rounded-circle p-1 opacity-0"></i>
            </div>
        </div>
        <div class="d-flex flex-column bg-body-tertiary position-relative p-4 mb-3">
            <div class="position-absolute p-3 bg-body-tertiary"
                style="left: -15px; transform: rotate(45deg); top: 7px; z-index: -1;"></div>
            <p class="fs-5 fw-semibold mx-2">Creative Designer <span class="text-muted fs-6">2017-2018</span></p>
            <p>
                Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial
                two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees
                but rooms think may.
            </p>
        </div>
    </div>
</main>