<main class="container-fluid vh-100 overflow-y-auto">
    <div class="row my-4 px-4">
        <div class="sectionHeading py-4 w-50">
            <h6 class="text-muted animate__animated animate__fadeInDown animate__slow">READ</h6>
            <p class="playfair-display fw-bold fs-6 lh-lg animate__animated animate__fadeInUp animate__slow">RECENT BLOG</p>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-md-4 d-flex flex-column justify-content-center animate__animated animate__fadeInLeft animate__slow">
            <div class="overflow-hidden">
                <img src="assets/blog-1.jpg" class="hvr-grow img-fluid" alt="">
            </div>
            <div class="text-muted">
                <span class="fs-7">APRIL 14, 2018 |</span>
                <span class="fs-7"> WEB DESIGN </span>
                <span class="fs-7">| <i class="fa-regular fa-comment"></i> 4</span>
            </div>
            <div class="w-75">
                <h4>
                    <a class="text-decoration-none fs-6 text-black">RENOVATING NATIONAL GALLERY</a>
                </h4>
                <p class="small">
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center animate__animated animate__fadeIn animate__slow">
            <div class="overflow-hidden">
                <img src="assets/blog-2.jpg" class="hvr-grow img-fluid" alt="">
            </div>
            <div class="text-muted">
                <span class="fs-7">APRIL 14, 2018 |</span>
                <span class="fs-7"> WEB DESIGN </span>
                <span class="fs-7">| <i class="fa-regular fa-comment"></i> 4</span>
            </div>
            <div class="w-75">
                <h4>
                    <a class="text-decoration-none fs-6 text-black">WORDPRESS FOR A BEGINNER</a>
                </h4>
                <p class="small">
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                </p>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-center animate__animated animate__fadeInRight animate__slow">
            <div class="overflow-hidden">
                <img src="assets/blog-3.jpg" class="hvr-grow img-fluid" alt="">
            </div>
            <div class="text-muted">
                <span class="fs-7">APRIL 14, 2018 |</span>
                <span class="fs-7"> WEB DESIGN </span>
                <span class="fs-7">| <i class="fa-regular fa-comment"></i> 4</span>
            </div>
            <div class="w-75">
                <h4>
                    <a class="text-decoration-none fs-6 text-black">MAKE WEBSITE FROM SCRATCH</a>
                </h4>
                <p class="small">
                    Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                </p>
            </div>
        </div>
        <div class="col-12 my-3 animate__animated animate__fadeInUp animate__slow">
            <button role="button" class="btn btn-primary w-100 p-3">
                Load More <i class="ms-1 fa-solid fa-rotate-right"></i>
            </button>

        </div>
    </div>
</main>